fos_user:
  db_driver: orm # other valid values are 'mongodb' and 'couchdb'
  firewall_name: main
  user_class: App\Entity\User
  from_email:
    address: "a@a.com"
    sender_name: "a@a.com"
services:
  userbundle_service:
    class:        App\Controller\DefaultController
    arguments: [fos_user.user_manager]
